<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}
<body class="bg-gray-50 text-gray-800 flex flex-col min-h-screen">

    {{ partial "nav.html" . }}

    <main class="flex-grow">
        {{ block "main" . }}{{ end }}
    </main>

    {{ partial "footer.html" . }}

    <script src="/js/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fslightbox/index.js"></script>
    {{ $styles := resources.Get "css/main.css" | postCSS (dict "config" "./postcss.config.js") | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}">
    {{ partial "scroll-animation.js" . }}

</body>
</html>
